.attachment {
    overflow: hidden;
    position: relative;

    .preview {
        border-radius: 4px;
        overflow: hidden;

        .image-type,
        .unknown-type {
            background-color: #e3e3e4;
            display: grid;
            grid-template-rows: 1fr 20px;
            height: 120px;
            width: 120px;
        }
        .image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
        }
        .unknown-type {
            .glyphicon {
                color: #999;
                font-size: 3rem;
            }
        }
        .dummy-image {
            align-self: center;
            justify-self: center;
        }
        .name {
            align-self: center;
            color: #606061;
            font-size: 1.2rem;
            overflow: hidden;
            padding: 0 5px;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .controls {
        background-color: #e3e3e4;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        display: flex;
        left: 0;
        position: absolute;
        right: 0;
        top: -30px;
        transition: top 0.3s;
        .btn {
            flex: 1;
            padding: 2px 4px;
        }
    }
    &:hover .controls {
        top: 0;
    }
}

.view-attachment-modal {
    .modal-body {
        background-color: #e3e3e4;
    }
    .image {
        text-align: center;
        img {
            max-width: 100%;
            // max-height: 350px;
        }
    }
    .editable-title {
        margin-bottom: 0;
        input[type="text"] {
            font-size: 2.2rem;
        }
    }

    .details {
        padding: 10px 0;

        .info {
            display: inline-block;
            margin: 0 10px 0 0;

            .glyphicon {
                margin-right: 5px;
            }
        }
    }
}
