@import "../../bootstrap_variables";

.column-filter {
    display: inline-block;
    position: relative;

    .btn.filter {
        text-decoration: none;
    }

    ul {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 2px 2px 6px #999;
        display: none;
        list-style-type: none;
        margin: 0;
        min-width: 9rem;
        padding: 0;
        position: absolute;
        right: 0;
        white-space: nowrap;
        z-index: 2;

        &.open {
            display: block;
        }

        li {
            cursor: pointer;
            font-size: 1rem;
            padding: 4px 16px;
            text-align: center;
            &:hover {
                background-color: #e3e3e4;
                color: #404041;
            }
            &.clear {
                font-size: 0.9rem;
                color: $brand-danger;
            }
            &.selected {
                background-color: $btn-success-bg;
                color: $btn-success-color;
            }
        }
    }
}
