.two-way-group-list {
    $background: #f2f2f2;
    $primary: #f8f5f0;
    $border-color: #dfd7ca;
    $border-color-active: $primary;
    $shadow-color: #999;
    $active-color: #404041;
    $inactive-bg: #f2f2f2;
    $active-bg: #fff;
    $hover-bg: #f8f5f0;
    $hover-color: #404041;
    $breadcrumb-bg: #dfd7ca;
    $header-bg: #f8f5f0;
    $group-header-bg: lighten($breadcrumb-bg, 5%);
    $group-header-hover-bg: #dfd7ca;
    $normal-text: #606061;
    $icon-color: #325d88;


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    height: 100%;
    position: relative;
    background-color: $background;

    .glyphicon {
        color: $icon-color;
    }

    ul.items {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            box-sizing: border-box;
            cursor: default;
            overflow: hidden;
            padding: 10px 25px 10px 10px;
            position: relative;
            text-overflow: ellipsis;
            color: $normal-text;

            &:hover {
                background-color: $hover-bg;
                color: $hover-color;
                .glyphicon {
                    visibility: visible;
                }
            }
        }
        li.group {
            background-color: $group-header-bg;
            font-weight: 600;
            padding: 10px;

            &:hover {
                background-color: $group-header-hover-bg;
                color: $active-color;
            }
        }
        .glyphicon-plus,
        .glyphicon-remove {
            cursor: pointer;
            float: right;
            font-size: 0.8rem;
            padding: 5px 8px 5px 5px;
            position: absolute;
            right: 0;
            top: 10px;
            visibility: hidden;
        }
        .glyphicon-folder-close {
            margin-right: 10px;
        }
    }

    .left,
    .right {
        box-sizing: border-box;
        border: solid 1px $border-color;
        display: grid;
    }
    .left {
        grid-template-rows: 48px 1fr;
        &.has-filter {
            grid-template-rows: 100px 1fr;
        }
    }
    .right {
        grid-template-rows: 48px 1fr;
        border-left: none;
    }
    .list-header {
        background: $header-bg;
        position: relative;
        li {
            height: 20px;
            vertical-align: middle;
        }
    }
    li.back a,
    .right .list-header .btn-link {
        color: $icon-color;
        font-size: 1.1rem;
        font-weight: 500;
        text-transform: uppercase;
    }
    .breadcrumb {
        background: $breadcrumb-bg;
        border-radius: 0;
        margin: 0;
        padding: 12px 10px;

        li.back {
            float: right;
            a, a:hover, a:focus {
                text-decoration: none;
            }
        }
        & > li:nth-child(2) {
            max-width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        li.overflow {
            cursor: pointer;
            height: 20px;
            padding: 0 5px 2px 5px;

            &::before {
                display: none;
            }
            &:hover {
                background: transparent;
            }
            & > .glyphicon {
                font-size: 0.7rem;
            }
            &:hover > .glyphicon {
                color: $primary;
            }
        }

        li:hover {
            color: black;
        }
    }
    .list-search,
    .right .list-header {
        padding: 8px 10px;
        box-sizing: border-box;
    }
    label.excluded {
        display: inline-block;
        line-height: 32px;
        // flex: 3;
    }
    .list-search {
        position: relative;
        i.glyphicon-search {
            position: absolute;
            top: 16px;
            left: 20px;
            opacity: 0.6;
        }
        input.filter {
            flex: 3;
            border-width: 1px;
            height: auto;
            margin: 0;
            font-size: 12px;
            border-width: 1px;
            padding: 6px 10px 6px 30px;
        }
    }
    .right .list-header {
        display: grid;
        grid-template-columns: 3fr 2fr;

        .btn-link {
            height: 32px;
            min-width: 6em;
            outline: none;
            padding-right: 0;
            text-align: right;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
    .multiselect-list-wrapper {
        border-top: solid 1px lighten($border-color, 5%);
        overflow: auto;
    }
    &.readonly {
        .btn-select-all {
            display: none;
        }
        ul li button {
            // cursor: default;
            &:hover {
                // background-color: inherit;
                // color: inherit;
                .glyphicon-plus,
                .glyphicon-remove {
                    visibility: hidden;
                }
            }
        }
    }

    .path-tree {
        background: #fff;
        box-shadow: 1px 1px 4px $shadow-color;
        cursor: default;
        font-size: 0.9rem;
        left: 2px;
        right: 2px;
        position: absolute;
        top: 50px;
        z-index: 10;

        .level {
            padding: 10px;

            &:hover {
                background-color: $inactive-bg;
            }
            .glyphicon {
                margin-right: 5px;
                font-size: 0.8rem;
            }
        }
        .active {
            color: $primary;
            cursor: pointer;
        }
        .spacer {
            display: inline-block;
            width: 10px;
        }
    }
}
