.defects {
    display: grid;
    grid-auto-rows: 100%;

    .data-grid {
        td:first-child,
        th:first-child {
            padding-left: 16px;
        }
        td:last-child,
        th:last-child {
            padding-right: 16px;
        }
    }
    .add-edit-defect {
        position: relative;
        margin: 64px 24px;

        .action-bar {
            position: absolute;
            left: -24px;
            right: -24px;
            top: -64px;
            .btn-toolbar {
                float: right;
                margin: 6px 24px 0 0;
            }
        }
        .defect-status {
            margin-right: 15px;
        }
    }
    .defect-list {
        background: #fff;
    }

    .toolbar .btn-link {
        text-decoration: none;
    }

    .panel.testcases {
        .panel-body {
            padding: 0;
        }
        .table {
            td:first-child {
                padding-left: 15px;
                width: 80px;
            }
            td:last-child {
                padding-right: 15px;
                text-align: right;
                width: 80px;
            }
            .btn {
                padding: 0;
            }
        }
        .btn-add-test {
            margin-top: -9px;
            position: absolute;
            right: 0;
            text-decoration: none;
        }
    }
}
