.defect-selector-modal {
    .modal-content {
        border: none;
        display: grid;
        grid-template-rows: 56px minmax(200px, 60vh) 76px
    }
    .modal-body {
        background: none;
        padding: 0;
    }
}
.defect-selector {
    font-size: 1.1rem;
    height: 100%;
}
