.exec-cycles {
    display: grid;
    grid-auto-rows: 100%;
    &.list {
        grid-template-columns: 280px auto;
    }
}

.cycles {
    border-right: solid 2px #ccc;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;

        li {
            color: #999;
            cursor: pointer;
            margin: 0;
            padding: 0;

            &.selected a {
                color: #404041;
                font-weight: bold;
            }

            a {
                display: block;
                padding: 8px 16px;
                text-decoration: none;
                &:hover {
                    color: #404041;
                }
            }

            .btn {
                float: right;
                padding: 2px;
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.add-edit-ec {
    position: relative;
    margin: 64px 24px;

    .action-bar {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -64px;
        .btn-toolbar {
            float: right;
            margin: 6px 24px 0 0;
        }
    }

}
.test-runs {
    background: #fff;

    .btn-xs {
        font-weight: 400;
        text-transform: none;
        width: 50px;
    }
}
.edit-tr {
    position: relative;
    margin: 64px 24px;

    .action-bar {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -64px;
        .btn-toolbar {
            float: right;
            margin: 6px 24px 0 0;
        }
    }
    .defect-id {
        width: 80px;
    }
    .status-dd {
        line-height: 22px;
        width: 55px;
    }
    .test-link {
        margin-right: 20px;
    }
    .btn-delete-defect {
        padding: 0;
    }
    .panel.defects .panel-body {
        padding: 0;
    }
    .defect-status {
        width: 100px;
    }
    .del-defect {
        width: 40px;
    }
    .empty-message {
        color: #999;
        font-size: 1.2rem;
        padding: 15px;
    }
}

.panel.defects {
    
    .btn-add-defect,
    .btn-link-defect {
        text-decoration: none;
    }
}
