.loading-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    opacity: 0.01;
    transition: opacity 0.5s ease-in;

    &.show {
        top: 0;
        opacity: 1;
    }

    .box {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -24px;
        padding: 16px;

        .fa {
            font-size: 48px;
            color: #e3e3e3;
        }
        .message {
            margin-top: 10px;
            color: #e3e3e3;
        }
    }
}
