.test-design {
    display: grid;
    grid-auto-rows: 100%;
    &.list {
        grid-template-columns: 280px auto;
    }
}
.add-edit-tc {
    position: relative;
    margin: 64px 24px;

    .action-bar {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -64px;
        .btn-toolbar {
            float: right;
            margin: 6px 24px 0 0;
        }
    }

    .panel.defects {
        .panel-body {
            padding: 0;
        }
        .table {
            td:first-child {
                padding-left: 15px;
                width: 80px;
            }
        }
    }
}
.tests-list {
    background: #fff;
    .test-id,
    .stats {
        width: 100px;
    }
    .test-stat {
        display: inline-block;
        margin: 0 4px;

        &.invisible {
            visibility: hidden;
        }
    }
}
