.test-design {
    display: grid;
    grid-auto-rows: 100%;
    &.list {
        grid-template-columns: 280px auto;
    }
}
.add-edit-tc {
    position: relative;
    margin: 64px 24px;

    .action-bar {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -64px;
        .btn-toolbar {
            float: right;
            margin: 6px 24px 0 0;
        }
    }
}
.tests-list {
    background: #fff;
}
