extend layouts/base

block head
    link(rel="stylesheet", href="/static/index.css")

block content
    #app-root

block footer
    //- script(src="/static/index.vendor.min.js")
    script(src="/static/index.min.js")
