extend layouts/base

block head
    title Login to TestMan
    link(rel="stylesheet", href="/static/login.css")

block content
    #app-root

block footer
    //- script(src="/static/login.vendor.min.js")
    script(src="/static/login.min.js")
