.data-grid {
    font-size: 1.2rem;
    thead > tr > th {
        // background: #fff;
        color: #999;
        font-weight: normal;
        line-height: 32px;
        text-transform: uppercase;
    }
}
