.card {
    background: #fff;
    border-radius: 4px;
    padding: 32px 24px;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
}

.header-gradient-1 {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

.toolbar,
.action-bar {
    h3 {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
        padding: 16px;
        text-transform: uppercase;
    }

    .btn {
        &, &:focus {
            outline: none;
            box-shadow: none;
            text-decoration: none;
        }
    }
}

.toolbar .btn {
    float: right;
    outline: none;
    box-shadow: none;
}

.btn.btn-link {
    outline: none !important;
    box-shadow: none;
}

.panel {
    position: relative;

    .header-buttons {
        position: absolute;
        right: 15px;
        top: 7px;

        .btn, a {
            text-decoration: none;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.dropzone {
    position: relative;
    &.active::after {
        align-items: center;
        background: #e2efeddb;
        border-radius: 4px;
        border: dashed 2px #839194;
        bottom: 0;
        color: #4f5a55;
        content: "Drop File to Attach";
        display: grid;
        font-size: 2.5rem;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}
