$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "bootstrap_variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch.sandstone";

nav.navbar {
    border-radius: 0;
    .container {
        width: 100%;
    }
}
