$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "./bootstrap_variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "./bootswatch.sandstone";

@import "utils";

body {
    background: #f2f2f2;
}

html,
body {
    margin: 0;
    padding: 0;
}
#app-root {
    background: $btn-primary-bg;
    color: $btn-primary-color;
}
.login-panel {
    font-weight: 100;
    margin: 0 auto;
    padding: 60px 20px;
    text-align: center;
    width: 40%;
    .logo {
        margin-bottom: 30px;
    }
    h1 {
        font-size: 3rem;
    }
    .brief {
        font-size: 2rem;
    }
    .btn-login {
        margin: 40px 0;
    }
}
.github-buttons {
    background: $gray-darker;
    padding: 30px;
    text-align: center;
}
.changelog {
    background: $gray-lighter;
    color: $gray-dark;
    font-weight: 300;
    padding: 60px;

    h2 {
        margin-bottom: 30px;
    }

    h3 {
        font-size: 1.5rem;
    }
}
footer {
    background: $gray-darker;
    color: $gray-light;
    font-size: 1.1rem;
    font-weight: 100;
    padding: 20px;
    position: relative;
    text-align: center;
    iframe {
        position: absolute;
        margin-left: 16px;

    }
}
