.editable-title {
    margin-bottom: 10px;
    input[type="text"] {
        font-size: 3rem;
        margin: 0;
        padding: 10px;

        &.static {
            border: solid 1px transparent;
            cursor: pointer;
            outline: none;
            &:hover {
                background-color: #f2f2f2;
            }
        }
    }
}
